In [52]:
import pandas as pd
import numpy as np
import os
import os.path
from os import path
import sys

In [53]:
df = pd.read_csv('Data/new-delhi us embassy, india-air-quality.csv')
df['date'] = pd.to_datetime(df['date'])
df.sample(5)

           date   pm25
1102 2018-01-06    323
646  2019-08-27     97
460  2020-02-16    183
341  2020-04-19     82
1445 2017-02-27    153

In [54]:
years = list(range(2010,2021))
months = ["%02d"%x for x in range(1, 13)]
result = pd.DataFrame()

for year in years:
    for month in months:
        loc="/home/toseef/Desktop/AQIProject/Data/Scrapped_Data/"+str(year)+"/"+str(month)+".csv"
        ff = pd.read_csv(loc)
        ff['Day'] = pd.to_datetime({'year': year,'month': month,'day': ff['Day']})
        #print(ff.sample(10))
        result = result.append(ff)

In [55]:
final = pd.merge(df, result,  how='left', left_on='date', right_on='Day')

In [56]:
final = final.dropna(how='any',axis=0)
final = final.drop(['Day'],axis=1)
final = final.rename(columns={" pm25": "PM 2.5","date":"Date"})
final.head()

          Date  PM 2.5     T    TM    Tm     SLP   H PP   VV    V    VM
136 2020-10-01     142  30.5    37  21.9    1004  53  0  3.2  8.5  16.5
137 2020-10-02     154  29.9  36.7  20.6  1004.9  58  0  3.4  4.8  16.5
138 2020-10-03     153  29.5  36.4  20.3  1006.3  54  0  3.5  4.8   7.6
142 2020-10-07     162  29.3  36.4  18.6  1009.1  56  0  3.4  4.3  16.5
143 2020-10-08     158  28.9    36  19.1  1008.9  58  0  2.9  4.3   9.4

In [58]:
final.to_csv("Data/Data.csv",index = False)